<h1 style="text-align: center">color component works!</h1>

<button type="button" class="btn btn-primary" (click)="changeColor('primary')">Primary</button>
<button type="button" class="btn btn-warning" (click)="changeColor('warning')">Warning</button>
<button type="button" class="btn btn-success" (click)="changeColor('success')">Success</button>
<button type="button" class="btn btn-danger" (click)="changeColor('danger')">Danger</button>
<br> <br>
<h1>123123</h1>

<p [style.background-color]="colorNew" style="width: 50%; color: black"]>View</p>
