<!-- Service Start -->


<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title text-center text-warning text-uppercase">Our Services</h6>
      <h1 class="mb-5">Explore Our <span class="text-warning text-uppercase">Services</span></h1>
    </div>
    <div class="row g-4">

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-hotel fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">Rooms & Appartment</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-utensils fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">Food & Restaurant</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-spa fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">Spa & Fitness</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-swimmer fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">Sports & Gaming</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-glass-cheers fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">Event & Party</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <a class="service-item rounded" href="">
          <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
              <i class="fa fa-dumbbell fa-2x text-warning"></i>
            </div>
          </div>
          <h5 class="mb-3 text-warning">GYM & Yoga</h5>
          <p class="text-body mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam
            sed stet lorem.</p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
<div class="container">
  <div class="mt-2">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
      Create Service
    </button>
  </div>

  <div class="row">
    <div class="card col-3" *ngFor="let item of facilities">
      <div>
        <img [src]="item.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">House size: {{item.area}} m2</p>
          <button (click)="edit(item.id)" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modelId2">
            Edit
          </button>
          <button (click)="deleteFacility(item.id, item.name)" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modelId3">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
<app-create-facility></app-create-facility>
<app-edit-facility *ngIf="facility" [editFacility] = "facility"></app-edit-facility>
<app-delete-facility [deleteFacility]="facilityName"></app-delete-facility>
